@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/* font-family: 'Passion One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: 'Sriracha', cursive; */

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, #00032b, black);
    text-align: center;
    margin: 0px 0px 30px 0px;
    padding: 50px;

}

header h1 {
    font-family: 'Passion One', cursive;
    color: #ffffff;
    font-size: 4em;
}

header p {
    color: #ffffff;
}

header a {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: none;

}

header a:hover {
    text-decoration: underline #ffffff;
}

main article section p {
    font-size: 1.5em;
    font-family: 'Sriracha', cursive;
    margin: 20px 0px 20px 0px;
}

.image_bg-1 {
    background-color: red;
}

.image_bg-2 {
    background-color: red;
}

article {
    margin: 20px;
}

footer {
    background-image: linear-gradient(to right, #00032b, #000000);
    color: #ffffff;
    margin: 30px 0px 10px 0px;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    text-decoration: underline white;
}

