

/* @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
font-family: 'Passion One', cursive; 

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
font-family: 'Sriracha', cursive; 

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, #00032b, black);
    text-align: center;
    margin: 0px 0px 30px 0px;
    padding: 50px;
}

header h1 {
    font-family: 'Passion One', cursive;
    color: #ffffff;
    font-size: 4em;
}

header p {
    color: #ffffff;
}

header a {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline #ffffff;
}

main {
    padding: 30px;
}

main section p {
    font-family: 'Sriracha', cursive;
    margin: 20px 0px 20px 0px;
    font-size: 1.5em;
    padding: 25px;
}

.image1 {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.image2 {
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
    max-width: 100%;
}

footer {
    background-image: linear-gradient(to right, #00032b, #000000);
    color: #ffffff;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    text-decoration: underline #ffffff;
}*/